<!DOCTYPE html>
<html>
  <head>
    <title>Career</title>
    <style>
      h1 {
        font-size: 64  ;
        font-family: Roboto  ;
        color: rgb(50, 100, 50);
        text-align: center;
      }
      #banner {
        /* width: 100 ;
        height: 0 ; */
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h1>Career</h1>
    <img id="banner" src="/static/banner.jpeg">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio pellentesque diam volutpat commodo sed. Volutpat est velit egestas dui id ornare arcu odio ut. Augue ut lectus arcu bibendum at varius vel pharetra vel. Enim diam vulputate ut pharetra sit amet aliquam. Vitae auctor eu augue ut. Sed risus pretium quam vulputate dignissim suspendisse in est. Placerat in egestas erat imperdiet sed euismod nisi. In hac habitasse platea dictumst quisque sagittis. Nullam ac tortor vitae purus faucibus. Eget nullam non nisi est sit amet facilisis magna. Justo laoreet sit amet cursus sit amet. Lectus urna duis convallis convallis. Mattis pellentesque id nibh tortor id aliquet lectus. Bibendum at varius vel pharetra vel. Amet dictum sit amet justo. jiji
    </p>
    <h2>Open Position</h2>
    <button>Contact us!</button>
  </body>
</html>